<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Políticas Públicas</title>
    <%- include("partials/head")%>
    <link href= "/assets/css/cover.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <img src="/assets/img/portada.jpeg" alt="">
        </div>
      </div>
    </div>
    <div class="container p-4 mt-5 text-center animated bounceInLeft">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <a href="/pages/1">
                    <div class="card">
                        <div class="card-body">
                            <button class="btn btn-info btn-block"><i class="fas fa-search"></i> Consulta Todas las Políticas</button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    
</body>
</html>